# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
dist-verify
dist-verify2
dist-verify3
dist-verify4
dist-verify5
dist-verify6
dist-verify7
dist-verify8
dist-verify9
dist-verify10
*.local

# Lock files
pnpm-lock.yaml

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
